{% extends 'layout.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<main class="container-fluid pt-5 fs-5">
		<h1 class="text-primary">Wild book</h1>

		<section id="horaires" class="pt-5">
			<h2>Horaires</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, odio. Voluptatum non reprehenderit dolore quam quod asperiores! Quibusdam placeat maiores est unde minima eius inventore laborum voluptate facilis, consectetur id.</p>
		</section>
		<hr>
		<section id="contact" class="pt-5">
			<h2>Contact</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, odio. Voluptatum non reprehenderit dolore quam quod asperiores! Quibusdam placeat maiores est unde minima eius inventore laborum voluptate facilis, consectetur id.</p>

		</section>
	</main>
{% endblock %}
